body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
 


  h1 {
    text-align: center;
  }

  form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
/*   
  input[type="text"],
  input[type="email"],    */

  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

textarea {
    height: 100px;
}