body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  background: rebeccapurple;
  padding: 1rem;
}

nav .ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav .ul a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div h1 {
  font-weight: 100;
}

footer {
  background-color: aqua;
}

.nav__hamburger img {
  font-size: large;
  color: aliceblue;
}

.navbar__list {
  display: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav__hamburger--on {
  display: block;
}

.nav__hamburger--close {
  display: none;
}

#check:checked ~ label .nav__hamburger--on {
  display: none;
}

#check:checked ~ label .nav__hamburger--close {
  display: block;
}

.navbar__list {
  display: block;
  position: absolute;
  top: 70px;
  left: 25px;
  width: 90%;
  height: 0;
  background-color: rgb(253, 254, 255);
  backdrop-filter: blur(50px);
  color: #ffffff;
  overflow: hidden;
  transition: 0.3s ease;
}

#check:checked ~ .navbar__list {
  height: 17.7rem;
}

.navbar__list li {
  /* display: block;
  flex-direction: column; */
  font-size: 1.1rem;
  margin: 1.5rem 0;
  text-align: center;
  transform: translateY(-50px);
}

#check:checked ~ .navbar__list li {
  transform: translateY(0);
  transition-delay: calc(0.15s * var(--i));
}
